<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Hello my team app V1</title>
  </head>
  <body>
    <div class="container">

      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="name"
            placeholder="Name to Print on TSHIRT"
          />
        </div>
        <div class="form-group">
          <h3>Number</h3>
  <input
            type="number"
            name="tshirt_number"
            placeholder="Number to print on TSHIRT"
          />
        </div>
         <div class="form-group">
          <h3>Please select your size</h3>
         <input
            type="text"
            name="size"
            placeholder="Number to print on TSHIRT"
          />
         </div>

        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>
  </body>
</html>
